
 .container{

  width:90%;
  border:2px solid black;
  margin: 50px auto;
   
  display: flex;
  flex-flow: row wrap;
    justify-content: flex-end;
      
}
.box {
  height: 100px;
  width: 100px;
  background-color: red;
}